:root {
    --stud-title-color: #212121;
    --stud-text-color: #757575;
    --header-link-color: #212121;
    --header-mail-color: #757575;
    --footer-bgr-color: #2f303a;
    --stud-main-h1-color: #ffffff;
    --stud-btn-color: #ffffff;
    --stud-btn-bgr-color: #2196f3;
    --stud-hover-focus-color: #2196f3;
    --stud-hero-bgr-color: #2f303a;
    --stud-methods-list-bgr-color: #f5f5f5;
    --stud-team-bgr-color: #f5f4fa;
    --stud-team-list-bgr-color: #ffffff;
    --footer-address-link-color: #ffffff;
    --footer-addres-list-color: rgba(255, 255, 255, 0.6);
    --port-title-color: #212121;
    --port-text-color: #757575;
    --port-btn-color: #212121;
    --port-bgr-color: #f5f5f5;
    --port-btn-bgr-color: #f5f4fa;
    --port-item-bgr-color: #ffffff;
}