.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-btn-list {
  margin-bottom: 50px; 
}

.portfolio-choice-list {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.portfolio-main {
  background-color: var(--stud-main-h1-color);
}

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--port-btn-color);
  background-color: var(--port-btn-bgr-color);
  border-radius: 4px;
  border: transparent;
  display: inline-block;
  padding: 6px 22px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #2196f3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #ffffff;
  }
}

.portfolio-link {
  display: block;
}

.portfolio-link-text {
  position: absolute;
  height: 100%;
  padding: 63px 24px;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  letter-spacing: 0.03em;

  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms linear;
  .portfolio-item:hover & {
    transform: translateY(0);
  }
}

.portfolio-top-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 30px;
}

.portfolio-list-info {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #eeeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #eeeeee;
  padding: 20px 24px;
}

.portfolio-item {
  background-color: var(--port-item-bgr-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--port-title-color);
  /* padding-top: 20px; */
  padding-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--port-text-color);
  /* padding-bottom: 20px; */
}

.portfolio-link {
  display: block;
  font-style: normal;
}
